:root {
    --brand-color: #2196f3;
    --primary-color: #000000;
    --text-color: #757575;
    --text-2-color: #212121;
    --title-color: #ffffff;
    --bg-light: #ececec;
    --bg-dark: #f5f4fa;
    --bg-footer: #2f303a;
  }