.screen-saver {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/desktop/hero.jpg");
  background-size: cover;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .screen-saver {
    padding-bottom: 60px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile/hero.jpg");
  }
}
@media screen and (min-width: 768px) {
  .screen-saver {
    padding-bottom: 60px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile/hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .screen-saver {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .screen-saver {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/hero.jpg");
    max-width: 1199px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .screen-saver {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .screen-saver {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desktop/hero.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .screen-saver {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desktop/hero@2x.jpg");
  }
}
.screen-saver__title {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .screen-saver__title {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 162%;
    text-transform: uppercase;
    max-width: 360px;
  }
}
.screen-saver__btn {
  display: flex;
  justify-content: center;
  width: 216px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 1);
  border-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  z-index: 5000;
  padding: 40px;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__btn {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    fill: rgba(33, 150, 243, 1);
  }
}
@media screen and (max-width: 767px) {
  .modal {
    height: 610px;
  }
}
.modal__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
}
.oruro {
  margin-top: 0;
}
.modal__form__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal__label {
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: flex;
  flex-direction: row;
  width: 448px;
  border-radius: 4px;
  height: 40px;
  
  &:focus ,
  &:hover  {
    border-color: rgba(33, 150, 243, 1);
  }
  
  &:focus .email,
  &:hover .email {
    fill: rgba(33, 150, 243, 1);
  }
}
@media screen and (max-width: 767px) {
  .modal__label {
    width: 100%;
  }
}
.email {
  fill: rgba(33, 33, 33, 1);
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
}
.modal__input {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 15px;
  margin-left: 16px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  outline: none;
  color: rgba(33, 33, 33, 1);
  margin-top: 0;
  margin-bottom: 0;
}
.modal__input__big {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.box__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox {
  border: 212121 solid 1px;
}
.modal__a {
  text-decoration: underline;
  color: rgba(33, 150, 243, 1);
}
.modal__text {
  color: rgba(117, 117, 117, 1);
  margin-top: 0;
  margin-bottom: 0;
}
.modal__box__btn {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal__baton {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(24, 140, 232, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  color: rgba(255, 255, 255, 1);
}
